<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <display-name>Spelstegen</display-name>
  <description>Application that keeps track of points and rankings in a league</description>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>SpelstegenServlet</servlet-name>
    <servlet-class>com.appspot.spelstegen.server.SpelstegenServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
	<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SpelstegenServlet</servlet-name>
    <url-pattern>/com.appspot.spelstegen.Spelstegen/spelstegenService</url-pattern>
  </servlet-mapping>
	
  <servlet-mapping>
    <servlet-name>gwt-log-remote-logger-servlet</servlet-name>
    <url-pattern>/com.appspot.spelstegen.Spelstegen/gwt-log</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
